@font-face {
    font-family: 'CustomFont';
    src:  url('fonts/GistLight.otf');
}

* {
    font-family: 'CustomFont';
}

#header {
    display: flex;
    justify-content: center;
}

#stars{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* ----------------------Shop Container ----------------------------*/
#shop_container{
    --num-cols: 6;
    /* --row-height: 70px; */
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    background-image: url(content/stat_frame.jpg);
    background-size: 740px 165px;
    background-repeat: no-repeat;
    margin: auto;
    width: 500px;
    height: 60px;
    padding: 50px 120px;
    font-family: Arial, Helvetica, sans-serif;
}

#shop_container .shop_entry{
    margin-bottom: 20px;
    text-align: center;
}

.shop_entry .item_tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
}

.shop_entry:hover .item_tooltip{
    visibility: visible;
}



/* ----------------------Item info------------- */
.item_info{
    text-align: center;
}


/* -------------------Button------------------------------ */
.button_container {
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 568px;
    width:  860px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

.main_clicker{
    background:url(cat.png) no-repeat;
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
}

.main_clicker:active{
    background:url(cat_closed.png) no-repeat;
}


/* -------------Stat_Container------------------ */
#stat_container{
    background-image: url(content/stat_frame.jpg);
    background-size: 740px 165px;
    background-repeat: no-repeat;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 100px; 
    padding: 30px 120px;
    text-align: center;
}

.stats_container{
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
    width: auto;
    height: 3em;
}

.stats_container p{
    display: inline-block;
    text-align: center;
}

/* ------------------------Manual---------------------------------- */

.manual{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid palevioletred;
    width: 800px;
    z-index: 0;
}

/* -----------------Achievement Container-------------------------- */

#achievement_container{
    position: fixed;
}

#achievement_container #title{
    font-size: x-large;    
}
/* ------------------------Clicker Feedback -------------------------*/
#clicker_feedback {
    color: rgb(255, 98, 151);
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-name: fade_out;
    animation-duration: 600ms;
    font-size: xx-large;
    pointer-events: none;
}

@keyframes fade_out {
    from {opacity: 1; margin-top: 0px;}
    to {opacity: 0; margin-top: 50px;}
}
